* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *:before, *:after {
    box-sizing: inherit;
  }
  html, body, #root {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    margin: 0;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    line-height: 1.5;
  }